div{
  background-color: #16161d;
}
h1, label{
  background-color: #16161d;
  color: #DCDCDC;
}
button{
  background-color: #cc1603;
}
card{
  width: 100%;
}
label{
  font-weight: bold;
  font-style: italic;
}
