<div class="px-0">
  <div class="card p-1" style="background-color: #cc1603;">
    <div class="card-header text-center">
      <h1>Home</h1>
    </div>
    <div class="card-body">
      <h2>Welcome to the Film Verdict Website!</h2><br>
      <p>This web page was designed to remove the need for "critic" scores or reviews for movies, and instead move to a more modern review system like audience reviews.<br><br>
        In the past, before technology, computers, and smartphones, reviews for movies were dependant on what the "critics" would rate them due to the difficulties of looking for any type of real audience reviews. Nowadays, the need for critics is dwindling, most movies may have a 60% critic score and 80-90% audience score or vice versa. This website provides you with the most informative details for each film, and as well provides some insight to which films have impressed audiences around the world.</p>
    </div>

    
  </div>
</div>
