<div class="px-0">
  <div class="card p-1" style="background-color: #cc1603">
    <div class="card-header text-center">
      <h1>Display movie</h1>
    </div>
    <div class="card-body">

      <h2>{{movie.name}}</h2>

      <button type="button" id="btn1" name="btn1" class="btn btn-primary border-dark" (click)="displayRating_Load()">View Audience Rating</button>
      <h3 *ngIf="isTrue == true">Audience Rating: {{averageRating}}%</h3>


      <p><br>Genre: {{movie.genre}}</p>

      <p>Actors: {{movie.actors}}</p>

      <p>Description: {{movie.description}}</p>
      <br>

      <h3>Reviews:</h3>
      <li *ngFor="let item of reviews" class="list-group-item">
        <div *ngIf="movie.id == item.movieId;">
          <img id="imgSnap" src="" width="30%" style="border-radius: 50%">
          <p id="username" name="username">Username: {{userName}}</p>

          <p>Rating: {{item.reviewRating}}%</p>
          <p>{{item.reviewText}}</p>

        </div>
      </li>

      <div>
        <p>If you want to add a review, return to list and add a review</p>
      <div>

      <button type="button" class="btn btn-primary border-dark" routerLink="/list">Return to List</button>

    </div>
  </div>
</div>



