<div class="px-0">
  <div class="card p-1" style="background-color: #cc1603">
    <div class="card-header text-center">
      <h1>Profile</h1>
    </div>
    <div class="card-body">
      <form (ngSubmit)="btnSubmit_Click()">
        <h2 style="color:white">Welcome to the profile page!</h2>
        <h2 style="color:white">please input your username display when adding reviews</h2>
        <br>
        <br>
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="username" class="form-control" style="background-color: white;border-color: black;" [(ngModel)]="username" placeholder="{{username}}"/>
        <br>
        <br>
        <input type="submit" id="profileSubmit" class="btn btn-primary border-dark mb-2"/>
      </form>
    </div>
  </div>
</div>

